@charset "utf-8";
.htn-more:hover + .htn-nav .more1{
    top: 50px;
}
.htn-more:hover >ul{
    top: 0;
}
.htn-more:hover a{
    background:url("../images/nav2016-morebg.png") no-repeat 0 24px;
}
.ht-nav a:hover{
    color: red;
}


