@charset "utf-8";
/*头部样式*/
#header .h-top{
	background-color: black;
}
.h-top .ht-nav{
	height: 50px;
	color: white;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	text-align: center;

}
/*导航栏logo*/
.htn-logo>a{
	color: white;
}
/*导航栏内容部分*/
.htn-nav ul li{
	margin-left: 42px;
}
.htn-nav ul{
	width: 788px;
}
.htn-nav ul{
	top: 0px;
}
/*更多*/
.ht-nav .htn-more{
	 width: 20px;
	 height:50px;
	margin-right: 43px;
 }
.ht-nav .htn-more>a{
	height: 50px;
	/*0 x正轴方向0个单位 ，24 y轴正方向24单位，之所以是24=（50-图片高度）/2 */
	background:url("../images/nav2016-morebg2.png") no-repeat 0 24px;
}
.htn-more .more2{
	top:-50px;
	right:105px;
}
.ht-nav ul{
	width: 788px;
	transition: .5s;
}
.more2 li{
	margin-right: 42px;
}

/*搜索*/
.ht-nav .htn-search{
	/*搜索图片宽度为22*/
	width: 22px;
	height:50px;
}
.ht-nav .htn-search>a{
	height: 50px;
	/*搜索图片高度22px,所有y轴=（50-22）/2=14px */
	background:url("../images/nav2016-search.png") no-repeat 0 14px;
}
.htn-search .sub-search{
	top: 50px;
	right:0;
	height: 360px;
	z-index: 11;
	background-color: rgba(0,0,0,0.89);
}
.sub-search input{
	width: 600px;
	height: 76px;
	margin-left: 50px;
	line-height: 50px;
	font-size: 50px;
	/*背景透明*/
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
}
.sub-search input::-webkit-input-placeholder{
	/*input中提示文字颜色*/
	color: #fff;
}
.htn-search .sub-search{
	display: none;
}
.sub-search ol{
	color: rgba(255,255,255,0.3);
	top: 160px;
	font-weight: initial;
	right: 300px;
	font-size: 14px;
	text-align: left;
}
.sub-search .s-right{
	right:90px ;
}
.sub-search ol li{
	margin-bottom: 10px;
}
.h-content{
	margin: auto;
}
.h-content .hc-logo{
	height: 142px;

}
.hc-logo .login{
	width: 120px;
	color: #888;
	margin-top: 60px;
	padding: 2px;
	border:1px solid #a3a3a3;
	border-radius: 20px;
	text-align: center;
	font-size: 14px;
}
.hc-logo .logoImage{
	margin:-41px auto;
}
.hc-banner .hc-bannerleft{
	width:750px;
	height:480px;
}
/*--swiper样式修改--*/
#wrap .swiper-but{
	padding:15px;
	background-color:rgba(0,0,0,.7);
	transition:.3s;
}
#header .swiper-button-prev{
	left:750px;
	margin-top:38px;
}
#header .swiper-button-next{
	right:-57px;
	margin-top:-38px;
}
#wrap .swiper-pagination-bullet{
	width:25px;
	height:4px;
	border-radius:0;
	background-color:red;
}



